[mysqld]

user				= mysql
bind_address			= 0.0.0.0

datadir				= /var/lib/mysql
pid_file			= /var/lib/mysql/mysql.pid
character-set-server=utf8
collation-server=utf8_general_ci
key-buffer-size = 128Mb
myisam-recover = FORCE,BACKUP
max-allowed-packet = 16M
max-connect-errors = 1000000
skip-name-resolve = 0
skip-external-locking = 0

sql-mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now = 1
innodb = FORCE
innodb-strict-mode = 1

default_storage_engine		= InnoDB
binlog_format			= ROW
query_cache_size 		= 0
query_cache_type 		= 0

tmp-table-size = 32M
max-heap-table-size = 32M
query-cache-type = 0
query-cache-size = 0
max-connections = 5000000
thread-cache-size = 1000
open-files-limit = 65535
table-definition-cache = 4096
table-open-cache = 128

# INNODB #
innodb-flush-method = O_DIRECT
innodb-log-files-in-group = 2
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table = 1
innodb-buffer-pool-size = 5000M
innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode = 2
innodb_locks_unsafe_for_binlog = 1




wsrep_on			= ON
wsrep_provider			= /usr/lib64/galera-4/libgalera_smm.so
wsrep_node_address		= WSREP_NODE_ADDRESS
wsrep_sst_method		= mariabackup
wsrep_cluster_address = gcomm://
wsrep_sst_auth			= root:
wsrep_slave_threads=8


wsrep_certify_nonPK=1



wsrep_debug=0

wsrep_convert_LOCK_to_trx=0

wsrep_retry_autocommit=1

wsrep_auto_increment_control=1

wsrep_replicate_myisam=1

wsrep_drupal_282555_workaround=0

wsrep_causal_reads=0
wsrep_log_conflicts=1

wsrep_gtid_domain_id=1000
wsrep_gtid_mode=ON

!includedir /etc/my.cnf.d



[mysqld_safe]
wsrep_cluster_address=gcomm://