[mysqld]

user				= mysql
bind_address			= 0.0.0.0

datadir				= /var/lib/mysql
pid_file			= /var/lib/mysql/mysql.pid
character-set-server=utf8
collation-server=utf8_general_ci
key-buffer-size = 128Mb
myisam-recover = FORCE,BACKUP
max-allowed-packet = 16M
max-connect-errors = 1000000
skip-name-resolve
sql-mode = STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY
sysdate-is-now = 1
innodb = FORCE
innodb-strict-mode = 1

default_storage_engine		= InnoDB
binlog_format			= ROW
query_cache_size 		= 0
query_cache_type 		= 0

tmp-table-size = 32M
max-heap-table-size = 32M
query-cache-type = 0
query-cache-size = 0
max-connections = 5000000
thread-cache-size = 1000
open-files-limit = 65535
table-definition-cache = 4096
table-open-cache = 128

# INNODB #
innodb-flush-method = O_DIRECT
innodb-log-files-in-group = 2
innodb-log-file-size = 256M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table = 1
innodb-buffer-pool-size = 5000M
innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode = 2
innodb_locks_unsafe_for_binlog = 1
# LOGGING #
log-error = /var/log/mysql-error.log
log-queries-not-using-indexes = 0
slow-query-log = 0
slow-query-log-file = /var/log/mysql-slow.log
general_log_file = /var/log/mysql.log
general_log = 0



wsrep_on			= ON
wsrep_provider			= /usr/lib64/galera-4/libgalera_smm.so
wsrep_node_address		= WSREP_NODE_ADDRESS
wsrep_sst_method		= xtrabackup-v2
wsrep_cluster_address = gcomm://
wsrep_sst_auth			= "root:"

!includedir /etc/my.cnf.d



[mysqld_safe]
wsrep_cluster_address=gcomm://