[mysqld]

user				= mysql
bind_address			= 0.0.0.0

datadir				= /var/lib/mysql
pid_file			= /var/lib/mysql/mysql.pid

default_storage_engine		= InnoDB
binlog_format			= ROW
query_cache_size 		= 0
query_cache_type 		= 0

max_allowed_packet          = 16M
key_buffer_size             = 16M
innodb_buffer_pool_size     = 2048M
innodb_file_per_table       = 1
max_connections             = 144
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
innodb_autoinc_lock_mode	= 2

innodb_open_files=25000
open_files_limit=50000

performance_schema = ON
performance-schema-max-mutex-classes = 0
performance-schema-max-mutex-instances = 0

wsrep_on			= ON
wsrep_provider			= /usr/lib64/galera-4/libgalera_smm.so
wsrep_node_address		= WSREP_NODE_ADDRESS
wsrep_sst_method		= rsync
wsrep_slave_threads=8


wsrep_certify_nonPK=1



wsrep_debug=0

wsrep_convert_LOCK_to_trx=0

wsrep_retry_autocommit=1

wsrep_auto_increment_control=1

wsrep_replicate_myisam=1

wsrep_drupal_282555_workaround=0

wsrep_causal_reads=0
wsrep_log_conflicts=1

wsrep_gtid_domain_id=1000
wsrep_gtid_mode=ON
wsrep_cluster_address = gcomm://
wsrep_sst_auth			= root:

!includedir /etc/my.cnf.d
